{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
</head>

      <div class = "contact-footer">
        <h3>Bizi Takip Edin</h3>
        <div class = "social-links">
          <a href = "#" class = "fab fa-facebook-f"></a>
          <a href = "#" class = "fab fa-twitter"></a>
          <a href = "#" class = "fab fa-instagram"></a>
          <a href = "#" class = "fab fa-linkedin"></a>
          <a href = "#" class = "fab fa-youtube"></a>
        </div>
        <div class="address-footer">
    <div class = "social-links">
          <a href = "#" class = "fab fa-facebook-f">sad</a>
          <a href = "#" class = "fab fa-twitter">asd</a>
          <a href = "#" class = "fab fa-instagram"></a>
          <a href = "#" class = "fab fa-linkedin"></a>
          <a href = "#" class = "fab fa-youtube"></a>
</div>
</div>
      </div>
{% endblock content %}