{% load static %}
{% block content %}
{% include "include_html/_main_navbar.html" %}
   <head>
      <link rel="stylesheet" href="{% static "css/about.css" %}">
      <title>Harlem Coffee |
         {% if request.session.lang_code == 'en' %}
         About Us
         {% else %}
         Hakkımızda
         {% endif %}
      </title>
   </head>
   <body>
      {% if request.session.lang_code == 'tr' %}
      <section class="about" id="about">
         <div class="container">
            <div class="heading text-center">
               <h2>Biz
                  <span>Kimiz? <i class='bx bxs-coffee-bean'></i></span>
               </h2>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <img src="{% static "image/coffee-beans.jpg" %}" alt="about" class="img-fluid" width="100%">
               </div>
               <div class="col-lg-6">
                  <h3>hakkımızda</h3>
                  <p>{{company.about_us}}</p>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <h3>vizyonumuz</h3>
                  <p>{{company.vision}}
                  </p>
               </div>
               <div class="col-lg-6">
                  <img src="{% static "image/hands-coffee.jpg" %}" alt="about" class="img-fluid" width="100%">
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <img src="{% static "image/props-making-coffee.jpg" %}" alt="about" class="img-fluid" width="100%">
               </div>
               <div class="col-lg-6">
                  <h3>misyonumuz</h3>
                  <p>{{company.mission}}
                  </p>
               </div>
            </div>
         </div>
         </div>
      </section>
      {% endif %}
      {% if request.session.lang_code == 'en' %}
            <section class="about" id="about">
         <div class="container">
            <div class="heading text-center">
               <h2>Who We
                  <span>Are? <i class='bx bxs-coffee-bean'></i></span>
               </h2>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <img src="{% static "image/coffee-beans.jpg" %}" alt="about" class="img-fluid" width="100%">
               </div>
               <div class="col-lg-6">
                  <h3>about us</h3>
                  <p>{{company.about_us}}</p>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <h3>vizion</h3>
                  <p>{{company.vision}}
                  </p>
               </div>
               <div class="col-lg-6">
                  <img src="{% static "image/hands-coffee.jpg" %}" alt="about" class="img-fluid" width="100%">
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <img src="{% static "image/props-making-coffee.jpg" %}" alt="about" class="img-fluid" width="100%">
               </div>
               <div class="col-lg-6">
                  <h3>mision</h3>
                  <p>{{company.mission}}
                  </p>
               </div>
            </div>
         </div>
         </div>
      </section>
      {% endif %}
   </body>
</html>
{% include "include_html/_footer.html" %}
<style>
   
</style>
{% endblock content %}