{% extends "base.html" %}
{% block content %}
{% include "_navbar.html" %}
<div class="content">
   <div class="row">
      {% if messages %}
      {% for message in messages  %}
      <div class="alert alert-success alert-dismissible fade show text-center mt-4" role="alert">
         <strong >İşlem Başarılı</strong> {{message}}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      <div class="col-lg-4 col-sm-12">
         <form action="{% url "product" %}" method="POST" enctype='multipart/form-data'>
         {% csrf_token %}
         <div style="display: flex; flex-direction: column;">
            <label for="product_name">Ürün Adı:</label>
            <input type="text" id="product_name" name="name" class="form-control" placeholder="Ürün Adı" aria-label="Ürün Adı" aria-describedby="basic-addon1">
         </div>
         <div style="display: flex; flex-direction: column;">
            <label for="product_name">Category Adı:</label>
            <select id="product_name" name="category" class="form-control" aria-label="Kategori Seçin" aria-describedby="basic-addon1">
               {% for category in categories %}
               <option name="category" value="{{category.id}}">{{category.name}}</option>
               {% endfor %}
               <!-- Add more options as needed -->
            </select>
         </div>
         <div id="product-form"style="display: flex; flex-direction: column;">
            <label for="product_name">Ürün Açıklaması:</label>
            <input type="text" id="product_name" name="description" class="form-control" placeholder="Ürün Adı" aria-label="Ürün Adı" aria-describedby="basic-addon1">
         </div>
         <div style="display: flex; flex-direction: column;">
            <label for="product_name">İçerik</label>
            <input type="text" id="product_name" name="ingredients" class="form-control" placeholder="Ürün İçeriği" aria-label="Ürün Adı" aria-describedby="basic-addon1">
         </div>
         <div style="display: flex; flex-direction: column;">
            <label for="product_name">Fotoğraf</label>
            <input type="file" name="image" class="form-control" id="inputGroupFile01">
         </div>
         <div style="display: flex; flex-direction: column;">
            <label for="product_name">Eski Fiyat:</label>
            <input type="text" id="product_name" name="previous_price" class="form-control" placeholder="Eski Fiyat" aria-label="Ürün Adı" aria-describedby="basic-addon1">
         </div>
         <div style="display: flex; flex-direction: column;">
            <label for="product_name">Yeni Fiyat:</label>
            <input type="text" id="product_name" name="price" class="form-control" placeholder="Yeni Fiyat" aria-label="Ürün Adı" aria-describedby="basic-addon1">
         </div>
         <div>
            <label for="priority">Durum</label>
            <input type="checkbox" id="priority" name="status" class="form-check-input" aria-label="Öncelik" aria-describedby="basic-addon1">
         </div>
         <div>
            <label for="priority">Öncelik</label>
            <input type="checkbox" id="priority" name="priority" class="form-check-input" aria-label="Öncelik" aria-describedby="basic-addon1">
         </div>
         <button class="btn btn-success"type="submit">Kayıt</button>
         </form>
      </div>
      <div class="col-lg-8 col-sm-12">
         <table class="table">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Ingredients</th>
                  <th>Previous Price</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Priority</th>
               </tr>
            </thead>
            <tbody>
               {% for product in products %}
               <tr>
                  <td>{{ product.name }}</td>
                  <td>
                     <img src="{{product.image.url}}" alt="">
                  </td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.ingredients }}</td>
                  <td>{{ product.previous_price }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.status }}</td>
                  <td>{{ product.priority }}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
<style>
   table{
   margin-top:15px;
   }
   td img{
   max-width:32px;
   max-height:32px;
   }
   product-form input{
   width:250px;
   }
</style>
{% endblock content %}