{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "_navbar.html" %}

<div class="container">

<style>
    .form-content {
        display: flex;
        align-items: center;
        justify-content: center; /* İçeriği yatay olarak da ortalar */
        height: 100vh; /* İçeriğin dikey olarak ekranın tamamını kaplamasını sağlar */
    }
</style>
    <div class="form-content">
        
     {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>HATA ! </strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="row">
       <div class="col-12">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Kategorileri Gör
</button>
        <form method="post" action="{% url 'category' %}" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Kategori Adı</span>
                    <input name="name" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Kategori Adı [EN]</span>
                    <input name="name_en" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Açıklama</span>
        <textarea name="description" class="form-control" aria-label="With textarea">

        </textarea>
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text">Açıklama[EN]</span>
        <textarea name="description_en" class="form-control" aria-label="With textarea">

        </textarea>
        </div>
        <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Slug <small> Urlde Nasıl Gözükecek</small></span>
                    <input name="slug" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Slug[EN]<small> Urlde Nasıl Gözükecek</small></span>
                    <input name="slug_en" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        <div class="mb-3">
            <label for="formFile" class="form-label"> Desteklenen boyutlar: 3840x2160, 5120x2880, 2560x1440.</label>
                <input name="image" class="form-control" type="file" id="formFile">
        </div>
       
       <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
    Kategori Kullanılıyor mu?
        </label>
        <input name="status" class="form-check-input" type="checkbox" value="on" id="flexCheckDefault">
        </div>
         <button type="submit" class="btn btn-success">Kaydet</button>
        </form>
        </div><!--first col-->
        <style>
            .category-area {
                
    position: relative;
    display: inline-block;
    margin-bottom:7px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Yarı saydamlık eklemek için bir arka plan rengi */
    padding: 10px;
    box-sizing: border-box;
}
        </style>
       </div><!-- form content-->
    </div><!--end row-->
   <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kategoriler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table" id="categoryTable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Adı / Name</th>
      <th scope="col">Açıklama / Description</th>
      <th scope="col">Url / Slug</th>
      <th scope="col">Durum / Status</th>
      <th scope="col">Fotoğraf / İmage</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories  %}
    <tr>
      <th scope="row">{{category.id}}</th>
      <td>{{category.name}} / <strong>{{category.name_en}}</strong></td>
      <td>{{category.description}} / <strong>{{category.description_en}}</strong></td>
      <td>{{category.slug}} / <strong>{{category.slug_en}}</strong></td>
      <td>
        {% if category.status == True %}
        <i class="fa-solid fa-check"></i>
        {% else %}
        <i class="fa-solid fa-x"></i>
        {% endif %}
      </td>
<td>
    <img src="{{ category.image.url }}" style="width: 32px; height: 32px; cursor: pointer;" alt="" onclick="toggleImageSize(this)">
</td>

    {% endfor %}
  </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div><!--end container-->
<style>
    #categoryTable td,tr{
        text-align:center;
    }
</style>
<script>
    function toggleImageSize(img) {
        if (img.style.width === "32px") {
            enlargeImage(img); // Resmi büyüt
        } else {
            shrinkImage(img); // Resmi küçült
        }
    }

    function enlargeImage(img) {
        img.style.width = "300px"; // Genişlik değerini artırabilirsiniz
        img.style.height = "auto"; // Otomatik yükseklik ayarı
    }

    function shrinkImage(img) {
        img.style.width = "32px"; // Genişlik değerini orijinal boyuta geri döndürür
        img.style.height = "32px"; // Yükseklik değerini orijinal boyuta geri döndürür
    }
</script>
{% endblock content %}