{% load static %}
{% include "include_html/_main_navbar.html" %}
<head>
    <link rel="stylesheet" href="{% static "css/all_menu.css" %}">
</head>
      {% if request.session.lang_code == 'tr' %}
<title>HarlemCo | Menü</title>
{% else %}
<title>HarlemCo | Menu</title>
{% endif %}
{% if request.session.lang_code == 'tr' %}
<div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="col-lg-4 col-sm-12">
                <div class="category-object-overlay">
                    <div class="category-image-container">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-image">
                        <div class="overlay">
                            <div class="category-info">
                                <h2 class="text-uppercase">{{ category.name }}</h2>
                                
                                <p class="mb-4">{{ category.description }}</p>
                                <a class="btn btn-browse" href="{% url "kategori" category.slug %}">Gözat</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if request.session.lang_code == 'en' %}
<div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="col-lg-4 col-sm-12">
                <div class="category-object-overlay">
                    <div class="category-image-container">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-image">
                        <div class="overlay">
                            <div class="category-info">
                                <h2 class="text-uppercase">{{ category.name_en }}</h2>
                                
                                <p class="mb-4">{{ category.description_en }}</p>
                                <a class="btn btn-browse" href="{% url "category" category.slug_en %}">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% include "include_html/_footer.html" %}