{% load static %}

{% include "include_html/_main_navbar.html" %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <title>Harlem Co | 
    {% if request.session.lang_code == 'tr' %}
    {{category.name}}
    {% else %}
    {{category.name_en}}
    {% endif %}  
    </title>
<!--
    SEÇİLİ DİL TÜRKÇEYSE 
-->

<body>
{% block content %}
{% if request.session.lang_code == 'tr' %}
    <div class="container">
        {% for product in products  %}
        <div class="card-product card-div">
            <div class="top-div">
            </div>
            
            <div class="product-img-div img-div">
                <img src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            <div class="text-container">
                <h2 class="item-name">{{product.name}}</h2>
                <p class="date"> {{product.description}} </p>
                <div class="pricingArea">
                    <div class="pricing">
                        <p class="previous-price">{{product.previous_price}}₺</p>
                        <p class="current-price">{{product.price}}₺</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% if request.session.lang_code == 'en' %}
    <div class="container">
        {% for product in products  %}
        <div class="card-product card-div">
            <div class="top-div">
            </div>
            
            <div class="product-img-div img-div">
                <img src="{{product.image.url}}" alt="god-of-war-figurine">
            </div>
            <div class="text-container">
                <h2 class="item-name">{{product.name}}</h2>
                <p class="date"> {{product.description_en}} </p>
                <div class="pricingArea">
                    <div class="pricing">
                        <p class="previous-price">{{product.previous_price}}₺</p>
                        <p class="current-price">{{product.price}}₺</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}   
</body>
{% endblock content %}


