{% load static %}
{% block content %}
{% include "include_html/_main_navbar.html" %}
<head>
   <link rel="stylesheet" href="{% static "css/contact.css" %}">
</head>
<style>
   .map iframe {
   width: 100% !important;;
   }
</style>
{% if request.session.lang_code == 'tr' %}
<title>HarlemCo | İletişim</title>
{% else %}
<title>HarlemCo | Contact</title>
{% endif %}
{% if request.session.lang_code == 'tr' %}
<section class = "contact-section ">
   <div class = "contact-bg">
      <h3>Bizimle İletişime Geçin</h3>
      <h2 class="contact-us">bize ulaşın</h2>
      <div class = "cizgi">
         <div></div>
         <div></div>
         <div></div>
      </div>
      <p class = "text">Bize aşağıdaki adreslerden ulaşabilirsiniz...</p>
   </div>
   <div class = "contact-body">
      <div class = "contact-info">
         <div>
            <span><i class = "fas fa-mobile-alt"></i></span>
            <span>Telefon Numarası</span>
            <span class = "text">{{company.phone}}</span>
         </div>
         <div>
            <span><i class = "fas fa-envelope-open"></i></span>
            <span>E-mail</span>
            <span class = "text">{{company.mail}}</span>
         </div>
         <div>
            <span><i class = "fas fa-map-marker-alt"></i></span>
            <span>Adres</span>
            <span class = "text">{{company.address}}</span>
         </div>
         <div>
            <span><i class = "fas fa-clock"></i></span>
            <span>Açılış - Kapanış Saatleri</span>
            <span class = "text">{{company.opening_hours}}</span>
         </div>
      </div>
      <div class = "contact-form">
         <form action="{% url "iletisim" %}" method="POST">
         {% csrf_token %}
         <div>
            <input type = "text"  name="first_name" class = "form-control" placeholder="Adınız" autocomplete="off">
            <input type = "text" name="last_name" class = "form-control" placeholder="Soyadınız" autocomplete="off">
         </div>
         <div>
            <input type = "email" name="email" class = "form-control" placeholder="E-mail (Zorunlu)"autocomplete="off">
            <input type = "text" name="phone" class = "form-control" placeholder="Telefon (İsteğe Bağlı)">
         </div>
         <input type="text" name="subject" class="form-control" placeholder="Konu">
         <textarea rows = "5" name="message" placeholder="Message" class = "form-control"></textarea>
         <div class="mb-2">
            {{ form.captcha }}
            {% if form.errors.captcha %}
            <div class="text-danger">{{ form.errors.captcha }}</div>
            {% endif %}
         </div>
         <input type = "submit" class = "send-button" value = "Mesajı Gönder">            
         </form>
         <div>
            <img src = "{% static "image/contact.png" %}" alt ="contact-png">
         </div>
      </div>
   </div>
   <div class="map">
      {{company.iframe |safe}}
   </div>
</section>
{% endif %}
<!--
   Request.session.selected.Language.EN
   -->
{% if request.session.lang_code == 'en' %}
<section class = "contact-section ">
   <div class = "contact-bg">
      <h3>Get in Touch with Us</h3>
      <h2>contact us</h2>
      <div class = "cizgi">
         <div></div>
         <div></div>
         <div></div>
      </div>
      <p class = "text">You can reach us at the addresses below...</p>
   </div>
   <div class = "contact-body">
      <div class = "contact-info">
         <div>
            <span><i class = "fas fa-mobile-alt"></i></span>
            <span>Phone Number</span>
            <span class = "text">{{company.phone}}</span>
         </div>
         <div>
            <span><i class = "fas fa-envelope-open"></i></span>
            <span>E-mail</span>
            <span class = "text">{{company.mail}}</span>
         </div>
         <div>
            <span><i class = "fas fa-map-marker-alt"></i></span>
            <span>Adres</span>
            <span class = "text">{{company.address}}</span>
         </div>
         <div>
            <span><i class = "fas fa-clock"></i></span>
            <span>Opening Hours</span>
            <span class = "text">{{company.opening_hours}}</span>
         </div>
      </div>
      <div class = "contact-form">
         <form action="{% url "iletisim" %}" method="POST">
         {% csrf_token %}
         <div>
            <input type = "text"  name="first_name" class = "form-control" placeholder="Name" autocomplete="off">
            <input type = "text" name="last_name" class = "form-control" placeholder="Surname" autocomplete="off">
         </div>
         <div>
            <input type = "email" name="email" class = "form-control" placeholder="E-mail (Required)"autocomplete="off">
            <input type = "text" name="phone" class = "form-control" placeholder="Phone (Optional)">
         </div>
         <input type="text" name="subject" class="form-control" placeholder="Subject">
         <textarea rows = "5" name="message" placeholder="Message" class = "form-control"></textarea>
         <div class="mb-2">
            {{ form.captcha }}
            {% if form.errors.captcha %}
            <div class="text-danger">{{ form.errors.captcha }}</div>
            {% endif %}
         </div>
         <input type = "submit" class = "send-button" value = "send message">            
         </form>
         <div>
            <img src = "{% static "image/contact.png" %}" alt ="contact-png">
         </div>
      </div>
   </div>
   <div class="map">
      {{company.iframe |safe}}
   </div>
</section>
{% endif %}
{% endblock content %}