

{% load static %}
{% block content %}
{% include "include_html/_main_navbar.html" %}
<head>
    <link rel="stylesheet" href="{% static "css/gallery.css" %}">
    {% if request.session.lang_code == 'tr' %}
        <title>HarlemCo | Galeri</title>
    {% else %}
        <title>HarlemCo | Gallery</title>
    {% endif %}


<div id="gallery" class="container-fluid">  
  {% for image in gallery  %}
<img src="{{image.image.url}}" class="img-responsive" alt="{{image.id}}">
{% endfor %}
</div>
{% include "include_html/_footer.html" %}
{% endblock content %}