{% load static %}
{% block content %}
{% include "include_html/_main_navbar.html" %}
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "css/index.css" %}">
<style>

      </style>
</head>
{% if request.session.lang_code == 'tr' %}
<title>HarlemCo | Anasayfa</title>
{% else %}
<title>HarlemCo | Homepage</title>
{% endif %}
{% if request.session.lang_code == 'tr' %}
<div class="backcircle">

</div>

<div class="content">
    <div class="textBox">
           
        <h2>Harlem<br><span>Coffee</span></h2>
        <p>{{company.index_text}}</p>
         <a href="{% url "menü" %}">Menüye gitmek için <i class='bx bx-right-arrow-alt'></i></a>
    </div>
    <div class="imgBox">
        <img src="{% static "image/smoot.png" %}" alt="">
    </div>
    <ul class="social">
        <li><a href="#"><img src="{% static "image/facebook.png" %}" alt=""></a></li>
        <li><a href="#"><img src="{% static "image/twitter.png" %}" alt=""></a></li>
        <li><a href="#"><img src="{% static "image/instagram.png" %}" alt=""></a></li>
    </ul>
</div>

{% endif %}
{% if request.session.lang_code  == 'en' %}
<div class="backcircle">
<!--
  GRENN CİRCLE
-->
</div>
<div class="content">
    <div class="textBox">
        <h2>Harlem<br><span>Coffee</span></h2>
        <p>{{company.index_text_en}}</p>
         <a href="{% url "menu" %}">See Menu <i class='bx bx-right-arrow-alt'></i></a>
    </div>
    <div class="imgBox">
        <img src="{% static "image/smoot.png" %}" alt="">
    </div>
    <ul class="social">
        <li><a href="#"><img src="{% static "image/facebook.png" %}" alt=""></a></li>
        <li><a href="#"><img src="{% static "image/twitter.png" %}" alt=""></a></li>
        <li><a href="#"><img src="{% static "image/instagram.png" %}" alt=""></a></li>
    </ul>
</div>
{% endif %}
<style>

</style>
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="script.js"></script>

{% include "include_html/_swiper.html" %}
{% include "include_html/_footer.html" %}
{% endblock content %}
