{% extends "base.html" %}
{% block content %}
{% include "_navbar.html" %}
<div class="content">
<form action="{% url 'add_gallery' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="formFile" class="form-label">Yüklenecek Fotoğrafı Seçiniz : </label>
        <input name="image" class="form-control" type="file" id="formFile" accept="image/*">
        <!-- Add 'accept' attribute to restrict file types to images -->
    </div>
    <button type="submit" class="btn btn-primary">Yükle</button>
</form>
</div>
{% endblock content %}