{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
   <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
{% if form.errors %}
<div class="alert alert-danger">
   <strong>Hata!</strong> Lütfen formu düzeltin:
   <ul>
      {% for field, errors in form.errors.items %}
      {% for error in errors %}
      <li>{{ field|title }}: {{ error }}</li>
      {% endfor %}
      {% endfor %}
   </ul>
</div>
{% endif %}
<div class="container">
   <div class="form" id="login">
      <h1 class="form_title">Hoşgeldiniz</h1>
      <small class="form-small">Bu sayfada herşey kayıt altına alınmaktadır..</small>
      <form action="{% url 'harlemadminlogin' %}" method="POST">
         {% csrf_token %}
         <div class="form_input-group">
            <input type="text" name="username" class="form_input" autofocus placeholder="Kullanıcı Adı" id="usernameinput"autocomplete="off">
         </div>
         <div class="form_input-group">
            <input type="email" name="email" class="form_input" autofocus placeholder="Email" id="emailInput"autocomplete="off">
         </div>
         <div class="form_input-group">
            <input type="password" name="password" class="form_input" autofocus placeholder="Şifre" id="passwordInput" autocomplete="off">
         </div>
         <div class="padding"></div>
         <button type="submit" class="form_button" id="loginButton">Login</button>
      </form>
   </div>
</div>
{% endblock content %}