{% load static %}
{% block content %}
{% include "include_html/_navbar.html" %} 
<head>
<link rel="stylesheet" href="{% static "css/messages.css" %}">
</head>
<style>

</style>
<div class="content">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Adı Soyadı</th>
      <th scope="col">Konu</th>
      <th scope="col">Mesaj</th>
      <th scope="col">Telefon</th>
      <th scope="col">Email</th>
      <th scope="col">Mesaj Tarihi</th>
      <th scope="col">Durumu</th>
      <th scope="col">Okundu Bilgisi</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    {% for message in messages  %}
    <tr>
      <th scope="row">{{message.id}}</th>
      <td>{{message.first_name}} {{message.last_name}}</td>
      <td>{{message.subject}}</td>
      <td>{{message.message}}</td>
      <td>{{message.phone}}</td>
      <td>{{message.email}}</td>
      <td>{{message.date_joined}}</td>
<td class="{% if message.status == False %}closeMessage{% else %}openMessage{% endif %}">
    {% if message.status == False %}
        Kapalı
    {% else %}
        Açık
    {% endif %}
</td>

<td>
    <a href="{% url "mesaji_kapat" message.id %}">
        {% if message.status == False %}
            <i class='bx bxs-minus-circle'></i>
        {% else %}
            <i class='bx bxs-check-circle'></i>
        {% endif %}
    </a>
</td>
<td><a href="{% url "delete_message" message.id %}">Sil</a></td>
</tr>
    <style>

</style>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

