{% extends "base.html" %}
{% load static %}
{% block content %}
   
      {% if request.session.lang_code == 'tr' %}
      <header>
         <h3>Harlem<span>Coffee</span></h3>
         <style>
         </style>
         <div class="navbar-container">
            <div class="bx bx-menu" id="menu-icon"></div>
            <ul class="navbar">
               <li><a href="{% url "index" %}" class="{% if request.path == '/anasayfa/' %}link-active{% endif %}">Anasayfa</a></li>
               <li><a href="{% url "hakkimizda" %}" class="{% if request.path == "/hakkimizda/" %}link-active{% endif %}">Hakkımızda</a></li>
               <li><a href="{% url "menü" %}" class="{% if request.path == "/menü/" %}link-active{% endif %}"> Menü</a></li>
               <li><a href="{% url "gallery" %}" class="{% if request.path == "/gallery/" %}link-active{% endif %}"> Galeri</a></li>
               <li><a href="{% url "iletisim" %}" class="{% if request.path == "/iletisim/" %}link-active{% endif %}"> İletişim</a></li>
               <li class="nav-item dropdown">
                  <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if request.session.lang_code == 'tr' %}
                  <i class="flag-icon flag-icon-tr"></i> Türkçe
                  {% else %}
                  <i class="flag-icon flag-icon-us"></i> English
                  {% endif %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                     <li><a class="dropdown-item" href="{% url "set_language" 'tr' %}"><i class="flag-icon flag-icon-tr"></i> Türkçe</a></li>
                     <li><a class="dropdown-item" href="{% url "set_language" 'en' %}"><i class="flag-icon flag-icon-us"></i> English</a></li>
                     <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </header>
      {% endif %}
      <!--
         ######################################
          KULLANICI DİLİ İNGİLİZCE İSE GÖSTERİLECEK NAVBAR ALANI 
          #####################################
         -->
      {% if request.session.lang_code == 'en' %}
      <header>
         <h3>Harlem<span>Coffee</span></h3>
         <div class="navbar-container">
            <div class="bx bx-menu" id="menu-icon"></div>
            <ul class="navbar">
               <li><a href="{% url "homepage" %}" class="{% if request.path == '/homepage/' %}link-active{% endif %}">Home</a></li>
               <li><a href="{% url "about_us" %}" class="{% if request.path == "/about_us/" %}link-active{% endif %}">About Us</a></li>
               <li><a href="{% url "menu" %}" class="{% if request.path == "/menu/" %}link-active{% endif %}"> Menu</a></li>
               <li><a href="{% url "gallery" %}" class="{% if request.path == "/gallery/" %}link-active{% endif %}"> Gallery</a></li>
               <li><a href="{% url "contact" %}" class="{% if request.path == "/contact/" %}link-active{% endif %}"> Contact</a></li>
               <li class="nav-item dropdown">
                  <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if request.session.lang_code == 'tr' %}
                  <i class="flag-icon flag-icon-tr"></i> Türkçe
                  {% else %}
                  <i class="flag-icon flag-icon-us"></i> English
                  {% endif %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                     <li><a class="dropdown-item" href="{% url "set_language" 'tr' %}"><i class="flag-icon flag-icon-tr"></i> Türkçe</a></li>
                     <li><a class="dropdown-item" href="{% url "set_language" 'en' %}"><i class="flag-icon flag-icon-us"></i> English</a></li>
                     <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </header>
      {% endif %}
      <script>
         let menu = document.querySelector("#menu-icon");
         let navbar = document.querySelector(".navbar");
         
         menu.addEventListener("click", function () {
         navbar.classList.toggle("active");
         });
         
         window.onscroll = () => {
         navbar.classList.remove("active");
         }
      </script>
      <!-- JavaScript dosyanızı burada bir kere ekleyin -->
      <script src="js.js"></script>
      
{% endblock content %}